/* body{
    background-color: #080707;
    color: aliceblue;
  
  } */
  
  body {
    margin: 0;
    padding: 0;
    /* Remove background-color here */
    background-color: #080707;
    color: aliceblue;
    /* font-family: 'Roboto', sans-serif; */
  }